<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContactManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ContactManagerUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C6ACEE01E3E3058001FBC07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C6ACEEF1E3E31FA001FBC07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C6ACF021E3E38E1001FBC07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C98145A1E2E737800A1993C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9814761E2E737800A1993C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9814811E2E737800A1993C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
